* {
    font-family: poppins, Arial, Helvetica, sans-serif, monospace;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    --afp: #e17f37;
}

html {
    background-color: #e17e371b;
}

header {
    background: var(--afp, orange);
    opacity: 0.99;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: var(--afp, orange) 0 0.1em 2em;
    z-index: 1;
}

.img-small {
    width: 4em;
    height: auto;
    transition-duration: 0.5s;
    margin: 0.5em;
    filter: drop-shadow(0 0 2em white);
}

.img-small:hover {
    filter: grayscale(0.6) drop-shadow(0 0 3em rgb(255, 255, 255));
    width: 5em;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transform: rotate(-5deg);
}

.nav-links {
    color: white;
    text-decoration: none;
    display: flex;
    text-overflow: ellipsis;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    transition-duration: 0.5s;
    text-shadow: 0 0 1.5em white;
}

.nav-links:hover {
    background-color: white;
    color: var(--afp, orange);
    text-transform: uppercase;
    transition-duration: 0.2s;
    box-shadow: 0 0 1em white;
}

.grid-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto 1fr 1fr 1fr;
}

#first-image-large {
    position: relative;
    width: 100%;
    height: auto;
    top: 94px;
    box-shadow: 0 0 2em white;
    border-radius: 1em;
    transition-duration: 1s;
    max-height: 95vh;
}

#first-image-large:hover {
    transform: translatey(-1em);
    transition-duration: 0.5s;
}

.menu-div {
    display: none;
}

#checkbox-menu {
    position: absolute;
}

#checkbox-menu {
    display: none;
}

#storia {
    margin-top: 10vh;
}

#paragrafo-storia {
    font-weight: 300;
    opacity: 0.6;
    font-size: 1.3em;
}

#storia-image {
    height: 15em;
}

#div-storia {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    align-content: center;
    margin: 2em 0 2em 2em;
}

#storia-header {
    color: var(--afp);
    font-size: 2em;
    text-shadow: 0 0 2em var(--afp);
}

@media (max-width:900px) {
    .nav-links {
        font-size: 0.8em;
    }
}

@media (max-width: 700px) {
    .img-small {
        margin: 0.5em 0;
    }
}

@media (max-width: 650px) {
    .nav-links {
        padding: 0 0.6em;
    }
    .grid-navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-direction: row;
        height: 100%;
    }
    .img-small {
        width: 3em;
        filter: drop-shadow(0 0 1em white);
        margin: 0.3em 1em 0 1em;
    }
    .img-small:hover {
        filter: grayscale(0.6) drop-shadow(0 0 3em rgb(255, 255, 255));
        width: 3.2em;
        transform: rotate(-360deg);
    }
    #first-image-large {
        top: 75px;
    }
    #first-image-large:hover {
        transform: translatey(-1.5em);
        transition-duration: 0.5s;
    }
}

@media(max-width: 500px) {
    .nav-links {
        font-size: 0.7em;
    }
}

@media (max-width: 450px) {
    .nav-links {
        display: none;
    }
    .menu-div {
        display: inline-flex;
        position: absolute;
        width: 1.7em;
        height: auto;
        color: white;
        right: 0;
        transform: translateX(-1.2em) translateY(0.9em);
        transition-duration: 0.3s;
    }
    input:checked~nav a {
        display: flex;
        font-size: 1em;
        padding: 1em;
    }
    input:checked~nav {
        flex-direction: column;
        animation: enter-active 1s ease-in-out;
    }
    input:checked~nav a img {
        display: none;
    }
    input:checked~nav a#afp-link {
        display: none;
    }
    input:checked~header {
        animation: enter-active 0.5s ease-in-out;
    }
    input:checked~label div.menu-div {
        opacity: 0.7;
        color: rgb(169, 59, 0);
        transition-duration: 0.3s;
    }
}

@keyframes enter-active {
    from {
        transform: translatey(-50vh);
    }
    to {
        transform: translatey(0);
    }
}